<app-task-header [title]="'Berechtigungen'"></app-task-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <h1>Standort</h1>
    <ion-button [color]="geoCoarsePermission && geoLocationPermission ? 'success' : 'danger'"
      (click)="requestGeoPermission()" [disabled]="geoCoarsePermission && geoLocationPermission" expand="full">
      {{ geoCoarsePermission && geoLocationPermission ? 'Granted' : 'Request' }}
    </ion-button>
    <ion-label>
      {{geoError}}
    </ion-label>
  </ion-label>
  <br />
  <ion-label>
    <h1>Kamera</h1>
    <ion-button [color]="cameraBarcodePermission ? 'success' : 'danger'" (click)="requestCameraPermission()"
      [disabled]="cameraBarcodePermission" expand="full">
      {{ cameraBarcodePermission ? 'Granted' : 'Request' }}
    </ion-button>
    {{cameraError}}
  </ion-label>
  <ion-button (click)="startHunt()" style="width: 100%;">Weiter</ion-button>
</ion-content>