<ion-header [translucent]="true">
  <!-- color muss bei beiden definiert sein -->
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-title> Schnitzeljagten </ion-title>
      <ion-button fill="clear" color="dark" (click)="prepareScavengerHunt()">
        <ion-icon name="add-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-leaderboard></app-leaderboard>
</ion-content>
