<app-task-header [title]="task?.name!"></app-task-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="ion-text-center">{{ task?.mainInstruction | uppercase }}</ion-label>
  </ion-item>
  <app-details-button [details]="task?.details!"></app-details-button>
  <ion-item>
    <ion-label class="ion-text-center">
      <ion-label>{{getLoadingText()}}</ion-label>
      <ion-icon name="battery-dead-outline" [color]="getColor()"></ion-icon>
      <!--<ion-icon name="square-outline" *ngFor="let i of [1,2,3,4,5]" [color]="getColor(i)" size="large"></ion-icon>-->
    </ion-label>
  </ion-item>
</ion-content>