<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Standort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 50%; margin: auto; margin-top: 5px">
    <span>Latitude: {{ latitude }}</span>
    <br/>
    <span> Longitude: {{ longitude }}</span>
  </div>
  <div style="width: 50%; margin: auto; margin-top: 5px">
    <ion-label>Standort wird nicht akualisiert?</ion-label>
    <br/>
    <ion-button (click)="getCurrentPosition()"> Standort neu berrechnen </ion-button>
  </div>
</ion-content>
