<app-task-header [title]="task?.name!"></app-task-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="ion-text-center">{{ task?.mainInstruction | uppercase }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">
      <ion-label>{{ getLoadingText() }}</ion-label>
      <div style="position: relative;">
        <ion-icon name="battery-dead-outline" [color]="getColor()"></ion-icon>
        <ion-item [color]="getColor()" *ngIf="loadingField >= 0.5" class="opacityAnimation"
          style="width: 14px; height: 34px; position: absolute; top: 31px; left: 126px; border-radius: 9999rem;">
        </ion-item>
        <ion-item [color]="getColor()" *ngIf="loadingField >= 1" class="opacityAnimation"
          style="width: 14px; height: 34px; position: absolute; top: 31px; left: 143px; border-radius: 9999rem;">
        </ion-item>
        <ion-item [color]="getColor()" *ngIf="loadingField >= 1.3" class="opacityAnimation"
          style="width: 14px; height: 34px; position: absolute; top: 31px; left: 160px; border-radius: 9999rem;">
        </ion-item>
        <ion-item [color]="getColor()" *ngIf="loadingField >= 1.5" class="opacityAnimation"
          style="width: 14px; height: 34px; position: absolute; top: 31px; left: 177px; border-radius: 9999rem;">
        </ion-item>
      </div>
    </ion-label>
  </ion-item>
  <app-dev-button (devFunction)="completed()"></app-dev-button>
  <app-details-button [details]="task?.details!"></app-details-button>
</ion-content>