<ion-header [translucent]="true">
  <!-- color muss bei beiden definiert sein -->
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-title> Schnitzeljagten </ion-title>
      <ion-button *ngIf="scavengerHunts.length > 0;" fill="clear" color="dark">
        <ion-icon name="add-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- https://stackoverflow.com/questions/43006550/how-can-i-use-ngif-else -->
  <ion-list *ngIf="scavengerHunts.length > 0; else noHunts">
    <ion-item *ngFor="let scavengerHunt of scavengerHunts; let i = index">
      <h2 class="ranking" [ngClass]="{'rankingFirst': i === 0, 'rankingSecond': i === 1, 'rankingThird': i === 2}">
        {{ i + 1 }}.
      </h2>
      <ion-label>
        <h3>
          Schnitzeljagd von
          <b>{{ scavengerHunt.firstName + " " + scavengerHunt.lastName }}</b>
          am {{ scavengerHunt.date | date:'dd.MM.yyyy'}}
        </h3>
        <p>
          {{ scavengerHunt.cutlets }}x 🥩,
          {{ scavengerHunt.potatoes }}x 🥔
        </p>
      </ion-label>
      <div>
        <ion-button fill="clear" color="dark">
          <ion-icon name="chevron-forward-outline" size="large"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ng-template #noHunts style="padding: 0 20px 0 20px;">
    <h2 style="text-align: center;">
      Noch keine Schnitzeljagten vorhanden
    </h2>
    <ion-button expand="full" color="primary" shape="round">
      Schnitzeljagd starten
    </ion-button>
  </ng-template>
</ion-content>