<app-task-header [title]="task?.name!"></app-task-header>

<ion-content [fullscreen]="true">
  <div style="width: 50%; margin: auto; margin-top: 5px">
    <span>Latitude: {{ geolocationService.latitude }}</span>
    <br />
    <span> Longitude: {{ geolocationService.longitude }}</span>
    <br />
    <span> Entfernung: {{ geolocationService.distance }}</span>
    <br />
    <span> Ziel erreicht: {{ geolocationService.distanceReached }}</span>
  </div>
  <div style="width: 50%; margin: auto; margin-top: 5px">
    <ion-label>Standort wird nicht akualisiert?</ion-label>
    <br />
    <ion-button (click)="getCurrentPosition()"> Standort neu berrechnen </ion-button>
  </div>
  <app-details-button [details]="task?.details!"></app-details-button>
</ion-content>
