<app-task-header [title]="task?.name!"></app-task-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <h1 style="text-align: center; font-weight: bold;">{{ task?.mainInstruction | uppercase }}</h1>
  </ion-item>
  <app-details-button [details]="task?.details!"></app-details-button>
  <ion-item>
    <ion-label class="ion-text-center">
      <ion-icon name="wifi-outline" [color]="getWifiColor()"></ion-icon>
    </ion-label>
  </ion-item>

  <app-details-button [details]="task?.details!"></app-details-button>
  <app-dev-button (devFunction)="completed()"></app-dev-button>
  
  <app-task-time></app-task-time>
</ion-content>
