<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">test</ion-title>
    </ion-toolbar>
  </ion-header>

  <label>Gib einen firstName ein</label>
  <input [(ngModel)]="user.firstName" />
  <label>Gib einen lastName ein</label>
  <input [(ngModel)]="user.lastName" />
  <button (click)="saveNameToStorage()">Save</button>
</ion-content>