<app-task-header [title]="'Schnitzeljagt abgeschlossen'"></app-task-header>

<ion-content [fullscreen]="true">
  <h1 style="text-align: center; color: goldenrod;">
    <i>
      Du hast die Schnitzeljagd abgeschlossen!
    </i>
  </h1>
  <!-- stats -->
  <table>
    <tr>
      <th>Zeit</th>
      <th>🥩</th>
      <th>🥔</th>
    </tr>
    <tr>
      <td>{{ "12:12.12" }}</td>
      <td>{{ "2" }}</td>
      <td>{{ "2" }}</td>
    </tr>
  </table>

  <h3>Deine Platzierung in der Rangliste ist: <span style="font-size: 30px; color: blueviolet;">{{ "1." }}</span></h3>

  <!-- leaderboard -->
  <app-leaderboard></app-leaderboard>

  <!-- ok btn -->
  <ion-button expand="block" (click)="submit()">Zurück zur Hauptansicht</ion-button>
</ion-content>