<app-task-header [title]="'Schnitzeljagt abgeschlossen'"></app-task-header>

<ion-content [fullscreen]="true">
  <div style="padding: 0 20px 0 20px; text-align: center;">
    <h1 style="text-align: center; color: goldenrod;">
      <i>
        Du hast die Schnitzeljagd abgeschlossen!
      </i>
    </h1>
    <!-- stats -->
    <h3>Deine Statistiken:</h3>
    <table>
      <tr>
        <th>Zeit</th>
        <th>🥩</th>
        <th>🥔</th>
      </tr>
      <tr>
        <td>{{ svHunt?.seconds }}</td>
        <td>{{ svHunt?.cutlets }}</td>
        <td>{{ svHunt?.potatoes }}</td>
      </tr>
    </table>

    <!-- leaderboard -->
    <h3>Deine Platzierung ist: <span style="font-size: 30px; color: goldenrod;">{{ getRanking() }}</span></h3>
    <app-leaderboard></app-leaderboard>

    <!-- ok btn -->
    <ion-button expand="block" (click)="submit()">Zurück zur Hauptansicht</ion-button>
  </div>
</ion-content>