<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <ion-item lines="none" style="font-size: 14px;">
      <ion-icon slot="start" color="primary" name="information-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label color="medium" style="text-align: justify;">
        Benutzernamen allgemein speichern, damit man diesen nicht bei jeder Schnitzeljagd
        eingeben musst.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Vorname" placeholder="Vorname" [(ngModel)]="user.firstName" />
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Nachname" placeholder="Nachname" [(ngModel)]="user.lastName" />
    </ion-item>
  </ion-label>

  <ion-toolbar>
    <ion-item lines="none" slot="end">
      <ion-button color="medium" (click)="resetUser()">Zurücksetzen</ion-button>
    </ion-item>
    <ion-item lines="none" slot="end">
      <ion-button color="primary" (click)="saveUser()">Speichern</ion-button>
    </ion-item>
  </ion-toolbar>
  testlinks
  <a routerLink="/geoloaction">
    Geolocation
  </a>
  <a routerLink="/qr-code">
    Kamera
  </a>
  <a routerLink="/wlan">
    Wlan
  </a>
  <a routerLink="/device-status">
    Device Status
  </a>
</ion-content>
