<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <ion-item lines="none" style="font-size: 14px;">
      <ion-icon slot="start" color="primary" name="information-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label color="medium" style="text-align: justify;">
        Benutzernamen allgemein speichern, damit man diesen nicht bei jeder Schnitzeljagd
        eingeben musst.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Vorname" placeholder="Vorname" [(ngModel)]="user.firstName" />
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Nachname" placeholder="Nachname" [(ngModel)]="user.lastName" />
    </ion-item>
  </ion-label>

  <ion-toolbar>
    <ion-item lines="none" slot="end">
      <ion-button color="medium" (click)="resetUser()">Zurücksetzen</ion-button>
    </ion-item>
    <ion-item lines="none" slot="end">
      <ion-button color="primary" (click)="saveUser()">Speichern</ion-button>
    </ion-item>
  </ion-toolbar>

  <div style="display: flex; align-items: center; flex-wrap: wrap; padding: 0 20px 0 20px;">
    <ion-text>
      <h3>Sonstiges</h3>
    </ion-text>
    <ion-label style="margin: 8px 0 0 10px;">
      <ion-icon color="dark" size="large" name="code-working-outline"></ion-icon>
    </ion-label>

    <ion-item style="width: 100%;">
      <a href="/permissions">Berechtigungen</a>
    </ion-item>
  </div>
</ion-content>