<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <ion-item lines="none" style="font-size: 14px;">
      <ion-icon slot="start" color="primary" name="information-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label color="medium" style="text-align: justify;">
        Benutzernamen allgemein speichern, damit man diesen nicht bei jeder Schnitzeljagd
        eingeben musst.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Vorname" placeholder="Vorname" [(ngModel)]="user.firstName" />
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Nachname" placeholder="Nachname" [(ngModel)]="user.lastName" />
    </ion-item>
  </ion-label>

  <ion-toolbar>
    <ion-item lines="none" slot="end">
      <ion-button color="medium" (click)="resetUser()">Zurücksetzen</ion-button>
    </ion-item>
    <ion-item lines="none" slot="end">
      <ion-button color="primary" (click)="saveUser()">Speichern</ion-button>
    </ion-item>
  </ion-toolbar>
  <ion-list>
    <ion-item style="display: flex; align-items: center;">
      <ion-text>
        <h3>Test Links</h3>
      </ion-text>
      <ion-label style="margin: 8px 0 0 10px;">
        <ion-icon color="dark" size="large" name="code-working-outline"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="DevInitializeTask(0)">
        Geolocation
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="DevInitializeTask(1)">
        Geolocation 2
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="DevInitializeTask(2)">
        Kamera
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="DevInitializeTask(3)">
        Sensor
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="DevInitializeTask(4)">
        Device Status
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" (click)="DevInitializeTask(5)">
        WLAN
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
